p,a
{
	font-family: 'Ubuntu', serif;
	font-size:15px;
	font-weight:bold;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /*min-height:1200px;
  max-height:1200px;*/
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #696969 ;
  background-color:#1A7AC5;
  /*background: rgba(24,188,156,.9);*/
}
h1,h2,h3,h4,h5,h6,h7,h8,h9,h1
{
	font-family: 'Ubuntu', serif;
	color:white;
	text-transform: uppercase;
    font-weight: 700;
}
hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
	/*background-color:transparent;*/
    background-color: #1A7AC5;
}

hr.star-primary {
	 /*background: rgba(24,188,156,.9);*/
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
	background-color:transparent;
    /*background-color:#808080;*/
}
.navbar-wrapper {
    height:52px;
}

.navbar-wrapper .container {
    width:100%;
}

.navbar-wrapper .navbar-brand {
    padding:5px 10px;
}

.navbar-wrapper .navbar-brand img {
    height:40px;
}
/*
#conjure
{
	background-image: url("../img/conjure_logo.png");
	width:228.3px;
    height:52px;
    background-size: 200px 25px;
    background-repeat: no-repeat;
}
*/
#projet
{
	background-color:#1A7AC5;
}
.nouvelle
{
	width:100%;
	height:100%;
	margin-left: auto;
    margin-right: auto;
	padding:0;
}
.light-font
{
	color:fff;
}


footer {
    margin: 50px 0;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.avatar {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.5);
}
.projet
{
	border: 5px solid rgba(255,255,255,0.5);
	min-width:300px;
	max-width:300px;
	min-height:200px;
	max-height:300px;
	
}
 .list-item .list-link {
    display: block;
    position: relative;
    margin: 0 auto;
}

 .list-item .list-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
	
}
 .list-item .list-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}
 .list-item .list-link .caption .caption-content h3 {
    font-size: 15px;
    color: #fff;
}
 #membre .list-item .list-link .caption{
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	max-width:250px;
	
}

#projet  .list-item .list-link .caption:hover {
    opacity: 1;
}

#projet .list-item .list-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
	
}
.list-item .list-link .caption:hover {
    opacity: 1;
	
}
#projet * {
    z-index: 2;
}
.infobox
{
	padding-top:15px;
	height:40%;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,1);
	font-family: 'Ubuntu', serif;
	font-size:15px;
	font-weight:bold;
}
.boxContent
{
	padding-left:25%;
	padding-right:25%;
}
#jams  li
{
	display:inline;
	padding:20px;
}
#mtlgamejam
{
	background-color:#f8f8f8;
	color:black;
}
#mtlgamejam h1
{
	color:black;
}
#mtlgamejam button 
{
	float:right;
}
#jams
{
	color:white;
}

#contact
{
	background-color:#f8f8f8;
	max-height:125px;
	min-height:125px;
	color:black;
}
#contact .boxContent
{
	margin:0px;
}
#contact  ul  
{
	display:block;
}
#contact  li  
{
	
	display:block;
	padding:5px;
}
#conjure
{
	color:white;
}
.sectionImage  
{
	float:left;
	height:300px;
	width:300px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,1);
}
.imgJams  
{
	height:30%;
	width:40%;
}
.imgJams  
{
	height:30%;
	width:40%;
}
.logo  
{
	width:29px;
	padding:5px;}
.left  
{
	float:left;
}

.right  
{
	float:right;
}      
@media(min-width:767px) {
    #projet .list-item {
        margin: 0 0 30px;
    }
}
}
