{% extends 'template.html' %}
{% load staticfiles %}
{% block content %}
	 <!-- projet Grid Section -->
	 
    <section  id="projet">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="">Projets</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                {% for project in projects %}
                <div class="col-sm-4 list-item">
                    <a href="{% url 'project:show' project.id %}" class="list-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"><h3>{{ project.name }}</h3></i>
                            </div>
                        </div>
                        {% if project.screenshot %}
                            <img src="{{ project.screenshot.url }}" class="projet" alt="">
                        {% else %}
                            <img src="{% static 'img/projet/cabin.png' %}" class="projet" alt="">
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
		</div>
    </section>
{% endblock %}
