{% extends 'template.html' %}
{% load staticfiles %}
{% block content %}
	<section class="success" id="projet">
		<div class="boxContent">
		    <h1>{{ project.name }}</h1>

            {% if project.screenshot %}
                <img class="img-responsive projectImage" src="{{ project.screenshot.url }}" alt="">
			{% else %}
                 <img class="img-responsive projectImage" src="http://placehold.it/1100x400" alt="">
            {% endif %}

            
                <h4>Descripiton  du projet:</h4>
					<p id = "descriptionProjet">{{ project.description }}</p>
	
					<a class="btn btn-outline-inverted right" href="{{ project.download }}" download>
					 <i class="fa fa-download"></i> Download</a>
				</div>
	</section>
	<section  class ="success" id="membre">
		
        <div class="boxContent">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="">Équipe</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                {% for member in project.members.all %}
				<div class="col-sm-4 list-item">
					<a class="list-link membre">
                       
                            <div class="caption membre bordered">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"><h3>{{ member.first_name }} {{ member.last_name }}</h3></i>
                                </div>
                            </div>
                            {% if member.photo %}
                                <img src="{{ admin.photo.url }}" class="avatar" alt="">
                            {% else %}
                                <img src="{% static 'img/profile.png' %}" class="avatar" alt="">
                            {% endif %}
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
		</div>
    </section>
{% endblock %}
