{% extends 'template.html' %}
{% load staticfiles %}
{% block content %}
<!-- Club Section -->
    <section id="club" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Le Club</h2>
                    <hr class="star-light">
                </div>
            </div>
			    <div class="row">
				<div class=" hidden-xs col-lg-4">
					<img class="img-responsive sectionImage" src="{% static 'img/conjureMiniLogo.png' %}" alt="">
                </div>
                <div class="col-lg-4">
                    <p>Conjure est le club de développement de jeux vidéo de l’École des Technologie Supérieure.
Nos membres ont comme projet le développement d’un jeu de leur choix.Les outils utilisée sont les outils utilisée dans l'industrie du jeu.
Ils participent aussi à plusieurs évenements reliés à l’industrie du jeu vidéo telle que des compétitions et des conférences.</p></div>
                <div class="col-lg-4">
                    <p>
Conjure est d’ailleurs le fondateur de l’un de ces évènements, le Montréal Game Jam, qui est une compétition de développement de jeux vidéo en 48h.
Venez rejoindre notre équipe de gens motivé et passioné pour vivre votre passion de création de jeux vidéo.</p>
                </div>
            </div>
            
    </section>

    <!-- Montreal Game Jam Section -->
    <section id="mtlgj">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Le Montreal Game Jam</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
			
                <div class="col-lg-4">
                    <p>Le Montreal Game Jam est le chapitre Montréalais pour le Global Game Jam.
Cet événement international donne comme défi aux participants de réaliser un 
prototype de jeu basé sur une thématique spécifique pendant une période de 48 heures.
.</p></div>
                <div class="col-lg-4">
                    <p>Plus de 10 684 participants dans 47 pays ont accepté le défi en 2012 et plus de 2209 jeux ont étés réalisés lors de l’événement.
L’organisation du Montreal Game Jam est constitué de l’union de multiples universités et professionnels de Montréal
dont le mandat commun est de promouvoir l’industrie du jeu vidéo</p>
                </div>
				<div class=" hidden-xs col-lg-4">
					<img class="img-responsive sectionImage" src="{% static 'img/MTLGJ_logo.png' %}" alt="">
                </div>

                <div class="col-lg-12 col-lg-offset-2 text-center">
                    <a href="http://mtlgamejam.org/" class="btn btn-lg btn-outline">
                        En savoir plus
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="jams" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nos autre compétitions</h2>
                    <hr class="star-light">
                </div>
            </div>
			 <div class="row">
                <div class="col-sm-3">
                    <img src="{% static 'img/jams/globalgamejam.PNG' %}" class="hidden-xs img-responsive imgJams"  alt="">
					<p class="visible-xs">Global Game Jam</p>
                </div>
				<div class="col-sm-3">
                    <img src="{% static 'img/jams/pixelChalenge.png' %}" class="hidden-xs img-responsive imgJams" alt="">
					<p class="visible-xs">Pixel Chalenge</p>
                </div>
				<div class=" col-sm-3">
                    <img src="{% static 'img/jams/GameJamBattle.png' %}" class="hidden-xs img-responsive imgJams"  alt="">
					<p class="visible-xs">Game Jam Battle</p>
                </div>
				
				<div class="col-sm-3">
                    <img src="{% static 'img/jams/OjamLogo.png' %}" class="hidden-xs img-responsive imgJams" alt="">
					<p class="visible-xs">O Jam</p>
                </div>
				<div class="col-sm-3">
                    <img src="{% static 'img/jams/ludumDare.png' %}" class="hidden-xs img-responsive imgJams" alt="">
					<p class="visible-xs">Ludum Dare</p>
                </div>
				<div class="col-sm-3">
                    <img src="{% static 'img/jams/asylumjam.png' %}" class="hidden-xs img-responsive imgJams" alt="">
					<p class="visible-xs">Asylum Jam</p>
                </div>
		</div>
			
		</div>
    </section>

{% endblock %}
