{% extends 'template.html' %}
{% load staticfiles %}


{% block content %}
<div class="content">
<div class="infobox" id="conjure">
<img class="sectionImage" src={% static 'img/conjureMiniLogo.png' %}>
<div class="boxContent">
<h1>Le Club</h1>
<p>
Conjure est le club de développement de jeux vidéo de l’École des Technologie Supérieure. Nos membres ont comme projet le développement d’un jeu qu’ils ont choisi ou qu’ils veulent réalisé dans une équipe de gens avec la même motivation en utilisant des outils présentement utilisé dans l’industrie.Ils participent aussi à plusieurs évenements reliés à l’industrie du jeu vidéo telle que des compétitions et des conférences. Conjure est d’ailleurs le fondateur de l’un de ces évènements, le Montréal Game Jam, qui est une compétition de développement de jeux vidéo en 48h. Venez rejoindre notre équipe de gens motivé et passioné pour vivre votre passion de création de jeux vidéo..
Objectifs.Encadrer le développement des jeux vidéo réalisés par les étudiants de l’École de technologie supérieure.
Favoriser la croissance du talent créatif et des compétences techniques de la relève de l’industrie par la formation des étudiants.
Faire la promotion de la culture et de l’industrie du jeu au Québec à travers nos activités.</p>
</div>
</div>
<div class="infobox" id="mtlgamejam">
<img class="sectionImage" src={% static 'img/MTLGJ_logo.png' %}>
<div class="boxContent">
<h1>Le Montreal Game Jam</h1>
Le Montreal Game Jam est le chapitre Montréalais pour le Global Game Jam.
Cet événement international donne comme défi aux participants de réaliser un 
prototype de jeu basé sur une thématique spécifique pendant une période de 48 heures.
Plus de 10 684 participants dans 47 pays ont accepté le défi en 2012 et plus de 2209 jeux ont étés réalisés lors de l’événement.
L’organisation du Montreal Game Jam est constitué de l’union de multiples universités et professionnels de Montréal
dont le mandat commun est de promouvoir l’industrie du jeu vidéo.
 </p>
 <button><a href="http://mtlgamejam.org/">En savoir plus</a></button>
</div>
</div>
<div class="infobox" id="jams">
<div class="boxContent"><h1>Autre Jams</h1>
<p>
Voici quelque Game Jam auquel Conjure participe:
<ul>
	<li>
		<img src={% static 'img/jams/ggjlogo.png' %} class="imgJams">
	</li>
	<li>
		<img src={% static 'img/jams/pixelChalenge.png' %} class="imgJams">
	</li>
	<li>
	<img src={% static 'img/jams/gameJamBattle.png' %} class="imgJams">
	</li>
	<li>
	<img src={% static 'img/jams/OJamLogo.png' %} class="imgJams">
	</li>
</ul>
</p>
</div>
</div>
<div class="infobox" id="contact">
<p><ul><li>local A-1744</li>
<li>Conjure@ens.etsmtl.ca</li>
<li>(514) 396-8800 poste: #7713</li>
<li><a href="https://www.facebook.com/ConjureETS">ConjureETS</a></li>
<li><a href="https://www.youtube.com/user/ConjureETS">Youtube</a></li>
<ul></p>
</div>
</div>
{% endblock %}
