{% extends 'template.html' %}
{% load staticfiles %}


{% block content %}

<div class="infobox" id="conjure">
<img src={% static 'img/MTLGJ_logo.png' %}><p>
The Montreal Game Jam is the Montreal chapter for the Global Game Jam. This event encourages participants from all over the world to create a video game
 prototype based on a theme over the course of a weekend. It’s more than 10 684 participants in 47 countries giving body and soul to complete their objectives. 
 2209 games were created last year. The organization of the Montreal Game Jam is the union of multiple universities and professionals from Montreal whose mandate
 is to promote Montreal video game industry.</p>
</div>
<div class="infobox" id="mtlgamejam">
<img src={% static 'img/MTLGJ_logo.png' %}><p>
The Montreal Game Jam is the Montreal chapter for the Global Game Jam. This event encourages participants from all over the world to create a video game
 prototype based on a theme over the course of a weekend. It’s more than 10 684 participants in 47 countries giving body and soul to complete their objectives. 
 2209 games were created last year. The organization of the Montreal Game Jam is the union of multiple universities and professionals from Montreal whose mandate
 is to promote Montreal video game industry.</p>
</div>
<div class="infobox" id="jams">
<img src={% static 'img/MTLGJ_logo.png' %}><p>
The Montreal Game Jam is the Montreal chapter for the Global Game Jam. This event encourages participants from all over the world to create a video game
 prototype based on a theme over the course of a weekend. It’s more than 10 684 participants in 47 countries giving body and soul to complete their objectives. 
 2209 games were created last year. The organization of the Montreal Game Jam is the union of multiple universities and professionals from Montreal whose mandate
 is to promote Montreal video game industry.</p>
</div>
<div class="infobox" id="contact">
</div>
{% endblock %}
